{% extends "base.html" %}

{% block title %}Appointment Overview{% endblock %}

{% block content %}

	<div class="container-fluid">

		<h1>Today's Agenda</h1>
			{% load drchrono_extras %}
			{% for appt in appts %}
			<form action="/appts/{{ appt.doctor }}/" method="POST">
				{% csrf_token %}
				Patient name: {{ appt.name }}<br>
				Appointment scheduled for: {{ appt.time|slice:"11:" }}<br>
				Appointment duration: {{ appt.duration }} minutes<br>
				
				{% if appt.scheduled_room|length != 0 %}
					Scheduled room: {{ appt.scheduled_room }}<br>
				{% endif %}

				{% if appt.checkin|length == 0 %}
					This patient has not checked in yet
				{% else %}
					{% if appt.checkin|calculate_wait_time >= 30 %}
						<div class="urgent">This patient has been waiting for {{ appt.checkin|calculate_wait_time }} minutes</div>
					{% else %}
						This patient has been waiting for {{ appt.checkin|calculate_wait_time }} minutes
					{% endif %}
					<input type="hidden" name="seen_at" value="{% now 'c' %}" readonly="readonly">
					<input type="hidden" name="checked_in_at" value="{{ appt.checkin.0.check_in_time }}" readonly="readonly">
					<input type="hidden" name="appt_id" value="{{ appt.appt_id }}" readonly="readonly">
					<input type="hidden" name="doctor_id" value="{{ appt.doctor }}" readonly="readonly">
					<br><input type="submit" value="I am starting this appointment">
				{% endif %}
			{% endfor %}
		</form>
		<h1>Today's average wait time for patients is: {{ doctor|get_today_avg_waittime }} minutes</h1>


	</div>

{% endblock %}