{% extends "base.html" %}

{% block title %}Appointment Overview{% endblock %}

{% block content %}

	<div class="container-fluid">

		{% if messages %}
		<ul class="messages">
		    {% for message in messages %}
		    <br>
		    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
		    {% endfor %}
		</ul>
		{% endif %}

		<h1>Today's Schedule   <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span></h1>
			{% load drchrono_extras %}
			{% for appt in appts %}
			<form action="/appts/{{ appt.doctor }}/" method="POST">
				{% csrf_token %}
				<div class="row">
					<div class="container jumbotron col-md-9">
					<div class="col-md-5"><b>Patient name:</b></div> <div class="col-md-5">{{ appt.name }}</div><br>
					<div class="col-md-5"><b>Appointment scheduled for:</b></div> <div class="col-md-5">{{ appt.time|slice:"11:" }}</div><br>
					<div class="col-md-5"><b>Appointment duration:</b></div> <div class="col-md-5">{{ appt.duration }} minutes</div><br>
					<div class="col-md-5"><b>Scheduled room:</b></div> <div class="col-md-5">{{ appt.scheduled_room }}</div><br>

				{% if appt.checkin|length == 0 %}
					<div class="col-md-10"><b>This patient has not checked in yet</b></div>
					<div class="col-md-5"><a href="/chart-as-admin/{{ appt.patient_id }}/{{ appt.doctor }}">Update this patient's chart</a></div><br>
				{% else %}
					{% if appt.checkin|calculate_wait_time >= 30 %}
						<div class="col-md-5"><b>Patient listed their primary reason for visiting as:</b></div><div class="col-md-5"> {{ appt.complaint }}</div><br>
						<div class="col-md-10"><b><div class="urgent">Patient has been waiting for {{ appt.checkin|calculate_wait_time }} minutes</div></div></b>
						<div class="col-md-5"><a href="/chart-as-admin/{{ appt.patient_id }}/{{ appt.doctor }}">Update this patient's chart</a></div><br>
					{% else %}
						<div class="col-md-5"><b>Patient listed their primary reason for visiting as:</b></div> <div class="col-md-5">{{ appt.complaint }}</div><br>
						<div class="col-md-10"><b>Patient has been waiting for {{ appt.checkin|calculate_wait_time }} minutes</div></b>
						<div class="col-md-5"><a href="/chart-as-admin/{{ appt.patient_id }}/{{ appt.doctor }}">Update this patient's chart</a></div><br>
					{% endif %}

					<input type="hidden" name="seen_at" value="{% now 'c' %}" readonly="readonly">
					<input type="hidden" name="checked_in_at" value="{{ appt.checkin.0.check_in_time }}" readonly="readonly">
					<input type="hidden" name="appt_id" value="{{ appt.appt_id }}" readonly="readonly">
					<input type="hidden" name="doctor_id" value="{{ appt.doctor }}" readonly="readonly">

					<br><br><div class="col-md-10"><input type="submit" value="I am starting this appointment"></div>
				{% endif %}
				</div>
			</div>
				<br><br>
			{% endfor %}
		</form>
		<h1>Today's average wait time for patients is: {{ doctor|get_today_avg_waittime }} minutes</h1>


	</div>

{% endblock %}