{% extends "base.html" %}

{% block title %}Error{% endblock %}

{% block content %}

	<div class="container-fluid">
		<h1>If you are seeing this page, it means some sort of error has occured. Please make sure that you have granted this application access to your drchrono account, and that you are trying to access the correct page.</h1>
		<a class='btn btn-primary btn-lg' href='/'><span class='glyphicon glyphicon-home' aria-hidden='true'></span>  Application Home</a>
		<a class='btn btn-primary btn-lg' href='https://www.drchrono.com/'><span class='glyphicon glyphicon-home' aria-hidden='true'></span>  drchrono Home</a>
	</div>

{% endblock %}