{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

	<div class="container-fluid">

		<h1>Daily Appointment Overviews:</h1>

		{% for doctor in doctors %}
			{% for key, value in doctor.items %}
				<a class='btn btn-primary btn-lg' href="/appts/{{ key }}">Dr. {{ value }}</a>
			{% endfor %}
		{% endfor %}


		<h1>Patient Services:</h1>
		<a class='btn btn-primary btn-lg' href="/check-in">Patient Check-in Kiosk</a>

		<h1>Schedule Appointments:</h1>
		{% for doctor in doctors %}
			{% for key, value in doctor.items %}
				<a class='btn btn-primary btn-lg' href="/new-appt/{{ key }}">Schedule an Appointment for Dr. {{ value }}</a>
			{% endfor %}
		{% endfor %}

	</div>

{% endblock %}